Vagrant.configure("2") do |config|
  config.ssh.shell = "ash -l"
{{- if eq .Arch "aarch64" }}

  config.vm.provider :libvirt do |libvirt|
    libvirt.cpu_mode = "custom"
    libvirt.cpu_model = "cortex-a57"
    libvirt.machine_type = "virt-2.12"
    libvirt.machine_arch = "aarch64"
    libvirt.inputs = []
    libvirt.video_type = "vga"
  end
{{- end}}
end
