build {
  sources = [
{{- range $arch := .Archs}}
    "source.qemu.alpine_{{$arch}}",
    "source.hcloud.alpine_{{$arch}}",
{{- end}}
  ]

{{- range $arch := .Archs}}
  provisioner "shell" {
    only = ["hcloud.alpine_{{$arch}}"]

    environment_vars = ["FETCH_URL={{$.SourceRootfs $arch}}"]
    expect_disconnect = true
    script = "${path.root}/hcloud_kickstart.sh"
  }
{{- end}}

  provisioner "ansible" {
    ansible_env_vars = ["HOST_KEY_CHECKING=false"]
    extra_arguments = [
      "--extra-vars",
      jsonencode({
        apk_repos = [for repo in ["main", "community"] : "{{.SourceBaseURL}}/${repo}"]
        root_ssh_keypair_public = "${local.root_ssh_keypair.public}"
      })
    ]
    playbook_file = "${path.root}/ansible-playbook.yml"
    user = "root"
    use_proxy = false
  }

{{- range $arch := .Archs}}
  post-processor "checksum" {
  only = ["qemu.alpine_{{$arch}}"]

   checksum_types = ["sha256"]
   output = "dist/alpine-image_{{$arch}}/alpine_{{$arch}}.qcow2.{{ "{{" }}.ChecksumType{{ "}}" }}"
  }
{{- end}}
}
