{{ template "config.pkr.hcl.tmpl" . }}
{{ template "variables.pkr.hcl.tmpl" . }}
{{ template "source_hcloud.pkr.hcl.tmpl" . }}
{{ template "source_qemu.pkr.hcl.tmpl" . }}
{{ template "builder.pkr.hcl.tmpl" . }}
